<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar(companyPayment)">


    <div>

        <div class="form-group row mb-1">

            <div class="col">
                <label class="col-6 col-form-label col-form-label-sm"><small class="text-muted">Periocidad de Pago</small></label>
                <select [(ngModel)]="companyPayment.idPaymentFrequency" class="form-control form-control-sm" name="frecuenciapago" formControlName="frecuenciapago" [class.is-invalid]="frecuenciapagoNoValido">
             <small *ngIf="frecuenciapagoNoValido" class="text-danger">Por favor seleccione un periodo de pago</small>
             <option value="">Seleccionar Periodo de Pago</option>
             <option *ngFor="let paymentf of paymentFrequency" [value]="paymentf.id">
                {{paymentf.description}}
            </option>
          </select>
            </div>

            <div class="col">
                <label class="col-6 col-form-label col-form-label-sm"><small class="text-muted">Forma de Pago</small></label>
                <select [(ngModel)]="companyPayment.idPaymentMethod" class="form-control form-control-sm" name="metodopago" formControlName="metodopago" [class.is-invalid]="metodopagoNoValido">
             <small *ngIf="metodopagoNoValido" class="text-danger">Por favor seleccione una forma de pago</small>
             <option value ="">Seleccionar Metodo Pago</option>
             <option  *ngFor="let paymentm of paymentMethod" [value]="paymentm.id">
                {{paymentm.description}}
            </option>
          </select>
            </div>


        </div>

        <div class="form-group row mb-1">

            <div class="col">
                <label class="col-6 col-form-label col-form-label-sm"><small class="text-muted">Banco Dispersor</small></label>
                <select [(ngModel)]="companyPayment.idBank" class="form-control form-control-sm" name="banco" formControlName="banco" [class.is-invalid]="bancoNoValido">
             <small *ngIf="bancoNoValido" class="text-danger">Por favor seleccione un banco</small>
              <option value="">Seleccione Banco</option>
              <option  *ngFor="let bank of banks" [value]="bank.id">
                {{bank.name}}
            </option>
              </select>
            </div>


            <div class="col">
                <label class="col-6 col-form-label col-form-label-sm"><small class="text-muted">Tipo de Cuenta</small></label>
                <select [(ngModel)]="companyPayment.idAccountType" class="form-control form-control-sm" name="tipocuenta" formControlName="tipocuenta" [class.is-invalid]="tipocuentaNoValido">
                     <small *ngIf="tipocuentaNoValido" class="text-danger">Por favor seleccione un tipo de cuenta</small>
                      <option value="">Seleccione Tipo Cuenta</option>
                      <option  *ngFor="let accountT of accountType" [value]="accountT.id">
                        {{accountT.description}}
                    </option>
                  </select>
            </div>
            <div class="form-group row mb-1">

                <div class="col">
                    <label class="col-6 col-form-label col-form-label-sm"><small class="text-muted">Número de Cuenta</small></label>
                    <input [(ngModel)]="companyPayment.accountNumber" name="numerocuenta" class="form-control form-control-sm" type="number" formControlName="numerocuenta" [class.is-invalid]="numerocuentaNoValido">
                    <small *ngIf="numerocuentaNoValido" class="text-danger">Por favor Campo Obligatorio</small>
                </div>

            </div>

        </div>
    </div>
    <div class="form-group row mt-4">

        <div class="input-group col">
            <button type="submit" class="btn btn-sm btn-outline-info">
              <i class="fa fa-save m-2"></i>
            Guardar
          </button>
        </div>

    </div>


</form>