<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">


    <div>
        <div class="form-group row mb-1">
            <div class="col">
                <label class="col col-form-label col-form-label-sm"><small class="text-muted">Centro de Costo</small></label>
                <select [(ngModel)]="employeeJob.idCostCenter" class="form-control form-control-sm" name="costCenter" formControlName="costCenter" [class.is-invalid]="costCenterNoValido">
             <small *ngIf="costCenterNoValido" class="text-danger">Por favor seleccione un centro de costo</small>
             <option value="">Seleccionar centro de costo</option>
             <option *ngFor="let costCenterT of costCenter" [value]="costCenterT.id">
                {{costCenterT.code}} - {{costCenterT.description}}  
            </option>
          </select>
            </div>

            <div class="col">
                <label class="col col-form-label col-form-label-sm"><small class="text-muted">Area</small></label>
                <select [(ngModel)]="employeeJob.idArea" class="form-control form-control-sm" name="area" formControlName="area" [class.is-invalid]="areaNoValido">
             <small *ngIf="areaNoValido" class="text-danger">Por favor seleccione un area</small>
             <option value="">Seleccionar area</option>
             <option *ngFor="let areaT of area" [value]="areaT.id">
                {{areaT.description}}
            </option>
          </select>
            </div>

        </div>



        <div class="form-group row mb-1">
            <div class="col">
                <label class="col col-form-label col-form-label-sm"><small class="text-muted">Sucursal</small></label>
                <select [(ngModel)]="employeeJob.idSubsidiary" class="form-control form-control-sm" name="subsidiary" formControlName="subsidiary" [class.is-invalid]="subsidiaryNoValido">
             <small *ngIf="subsidiaryNoValido" class="text-danger">Por favor seleccione una sucursal</small>
             <option value="">Seleccionar Sucursal</option>
             <option *ngFor="let subsidiaryT of subsidiary" [value]="subsidiaryT.id">
                {{subsidiaryT.description}}
            </option>
          </select>
            </div>

            <div class="col">
                <label class="col col-form-label col-form-label-sm"><small class="text-muted">Cargo</small></label>
                <select [(ngModel)]="employeeJob.idPosition" class="form-control form-control-sm" name="position" formControlName="position" [class.is-invalid]="positionNoValido">
             <small *ngIf="positionNoValido" class="text-danger">Por favor seleccione un cargo</small>
             <option value="">Seleccionar Cargo</option>
             <option *ngFor="let positionT of position" [value]="positionT.id">
                {{positionT.description}}
            </option>
          </select>
            </div>

        </div>







    </div>

    <div class="form-group row">

        <div class="input-group col ">
            <button type="submit" class="btn btn-sm mx-auto w-50 text-white btn-success" style="background-color: #00c8ff ;">
              <i class="fa fa-save m-2"></i>
            Guardar
          </button>
        </div>
    </div>
</form>