<div class="row">
    <div class="col">
        <div class="card">
            <!-- <blockquote class="blockquote mb-0"> -->

            <img (click)="ingresar()" [src]="company.img | imagen: 'company'" class="img-150 img-rounded card-img-top pointer" alt="compañia">
            <footer style="text-align: center;">
                <small class="text-muted">
                        {{company.name}}
                    </small>
            </footer>
            <!-- </blockquote> -->
        </div>
    </div>
</div>