<div class="accordion" id="accordionConceptos">
    <div class="card">
        <div class="card-header" id="headingSalarial">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseSalarial" aria-expanded="true" aria-controls="collapseSalarial">
            Conceptos Salariales
          </button>
            </h2>
        </div>

        <div id="collapseSalarial" class="collapse show" aria-labelledby="headingSalarial" data-parent="#accordionConceptos">
            <div class="card-body">

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingNoSalarial">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseNoSalarial" aria-expanded="false" aria-controls="collapseNoSalarial">
            Conceptos No Salariales
          </button>
            </h2>
        </div>
        <div id="collapseNoSalarial" class="collapse" aria-labelledby="headingNoSalarial" data-parent="#accordionConceptos">
            <div class="card-body">

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingDeduccion">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseDeduccion" aria-expanded="false" aria-controls="collapseDeduccion">
            Deducciones
          </button>
            </h2>
        </div>
        <div id="collapseDeduccion" class="collapse" aria-labelledby="headingDeduccion" data-parent="#accordionConceptos">
            <div class="card-body">

            </div>
        </div>
    </div>
</div>